<img id="card-img" src=<%= response["img"] %> height="465" width="307">
<ul id="card-details-list" style="list-style:none">
  <h3 class="flavor"><%= response["flavor"] %></h3>
  <h4 class="name"><%= response["name"] %></h4>
  <li><span class="info-list">Card Set:</span> <%= response["cardSet"] %></li>
  <li><span class="info-list">Type:</span> <%= response["type"] %></li>
  <li><span class="info-list">Rarity:</span> <%= response["rarity"] %></li>
  <li><span class="info-list">Mana:</span> <%= response["cost"] %></li>
  <li><span class="info-list">Attack:</span> <%= response["attack"] %></li>
  <li><span class="info-list">Health:</span> <%= response["health"] %></li>
</ul>
