<img id="card-img" src=<%= response["img"] %> height="465" width="307">
<ul id="card-details-list" style="list-style:none">
  <h3 class="flavor"><%= response["flavor"] %></h3>
  <h4 class="name"><%= response["name"] %></h4>
  <li>Card Set: <%= response["cardSet"] %></li>
  <li>Type: <%= response["type"] %></li>
  <li>Rarity: <%= response["rarity"] %></li>
  <li>Mana: <%= response["cost"] %></li>
  <li>Attack: <%= response["attack"] %></li>
  <li>Health: <%= response["health"] %></li>
</ul>
